body {
    color: #999;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background: #f8fafb;
}
.wrap-collapse {
    background: #ffffff;
    padding: 30px;
}
.collapse-btn {
    border: none;
    background: #0069d9;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 3px;
    margin-bottom: 30px;
    cursor: pointer;
}
.collapse-btn:hover {
    background: #045cb9;
}
.collapse-block {        
    overflow: hidden;  
    box-sizing: border-box;
    transform-origin: top;
    transition: all 1s; 
    position: relative;
    max-height: 0;
}

.collapse-content {
    border: 2px solid #f0f0f0;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.copy-collapse {
    text-align: right;
    margin-top: 5px;
    padding-right: 30px;
}